@using RadioWave.Components
@inherits LayoutComponentBase

<div class="nav-bar">
    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Countries</NavLink>
        <NavLink class="nav-link" href="favorites">Favorites</NavLink>
       <a class="nav-link donate-link"
           href="https://ko-fi.com/gamalmouhssine"
           target="_blank" 
   rel="noopener">Donate</a>

    </div>
</div>

<div class="main-content">
    @Body
</div>

<Playerfooter/> 